html, body, #root {
    height: 100%
}

.slick-slide > div {
    padding: 0 10px;
}

.slick-list {
    margin: 0 -10px;
    padding-bottom: 20px;
}

.slick-prev:before, .slick-next:before {
    color: #2D3250;
}